* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 4rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
}

.item {
    background-color: #87CEEB;
    padding: 10rem;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.item:nth-child(even){
    transform: translateX(-100%);
}

.item.show {
    opacity: 1;
    transform: translateX(0%);
}

.text {
    font-size: 3rem;
}
